{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/addProduct.css') }}">
{% endblock %}

{% block body %}
<header>
    <h1 class="text-center p-3 text-white"> Ajouter un produit </h1>
    </header>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

<form class="add-product-form" method="POST" enctype="multipart/form-data">
    <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div>
        <label for="reference">Référence :</label>
        <input type="text" id="reference" name="reference" required>
    </div>

    <div>
        <label for="description">Description :</label>
        <textarea id="description" name="description" required></textarea>
    </div>

    <div>
        <label for="price">Prix :</label>
        <input type="number" id="price" name="price" step="0.01" required>
    </div>

    <div>
        <label for="image">Image :</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>

    <div>
        <label for="emplacement_rayonnage">Emplacement de rayon :</label>
        <input type="text" id="emplacement_rayonnage" name="emplacement_rayonnage" required>
    </div>

    <div>
        <label for="stock">Quantité :</label>
        <input type="number" id="stock" name="stock" min="1" required>
    </div>

    <div>
        <label for="category">Catégorie :</label>
        <select id="category" name="category" required>
            <option value="">-- Sélectionner --</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="supplier">Fournisseur :</label>
        <select id="supplier" name="supplier" required>
            <option value="">-- Sélectionner --</option>
            {% for supplier in suppliers %}
                <option value="{{ supplier.IdSuppliers }}">{{ supplier.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="submit-container">
        <button type="submit">Ajouter un produit</button>
    </div>
</form>

{% endblock %}
